# Homework 6: Web Applications

For this homework, you're going to write a web API for the lake data in the MONDIAL database. (Make sure you've imported the data as originally outlined in [our week 1 tutorial](https://github.com/ledeprogram/data-and-databases/blob/master/SQL_notes.md).)

The API should perform the following tasks:

* A request to `/lakes` should return a JSON list of dictionaries, with the information from the `name`, `elevation`, `area` and `type` fields from the `lake` table in MONDIAL.
* The API should recognize the query string parameter `sort`. When left blank or set to `name`, the results should be sorted by the name of the lake (in alphabetical order). When set to `area` or `elevation`, the results should be sorted by the requested field, in *descending* order.
* The API should recognize the query string parameter `type`. When specified, the results should *only* include rows that have the specified value in the `type` field.
* You should be able to use *both* the `sort` and `type` parameters in any request.

This notebook contains only *test requests to your API*. Write the API as a standalone Python program, start the program and then run the code in the cells below to ensure that your API produces the expected output. When you're done, paste the source code in the final cell (so we can check your work, if needed).

Hints when writing your API code:

* You'll need to construct the SQL query as a string, piece by piece. This will likely involve a somewhat messy tangle of `if` statements. Lean into the messy tangle.
* Make sure to use parameter placeholders (%s) in the query.
* If you're getting SQL errors, print out your SQL statement in the request handler function so you can debug it. (When you use `print()` in Flask, the results will display in your terminal window.)
* When in doubt, return to the test code. Examine it carefully and make sure you know exactly what it's trying to do.

## Problem set #1: A list of lakes

Your API should return a JSON list of dictionaries (objects). Use the code below to determine what the keys of the dictionaries should be. (For brevity, this example only prints out the first ten records, but of course your API should return all of them.)

Expected output:

    143 lakes
    Ammersee - elevation: 533 m / area: 46 km^2 / type: None
    Arresoe - elevation: None m / area: 40 km^2 / type: None
    Atlin Lake - elevation: 668 m / area: 798 km^2 / type: None
    Balaton - elevation: 104 m / area: 594 km^2 / type: None
    Barrage de Mbakaou - elevation: None m / area: None km^2 / type: dam
    Bodensee - elevation: 395 m / area: 538 km^2 / type: None
    Brienzersee - elevation: 564 m / area: 29 km^2 / type: None
    Caspian Sea - elevation: -28 m / area: 386400 km^2 / type: salt
    Chad Lake - elevation: 250 m / area: 23000 km^2 / type: salt
    Chew Bahir - elevation: 520 m / area: 800 km^2 / type: salt

In [56]:
import requests
data = requests.get('http://localhost:5000/lakes').json()
print(len(data), "lakes")
for item in data[:10]:
    print(item['name'], "- elevation:", item['elevation'], "m / area:", item['area'], "km^2 / type:", item['type'])

143 lakes
Ammersee - elevation: 533 m / area: 46 km^2 / type: None
Arresoe - elevation: None m / area: 40 km^2 / type: None
Atlin Lake - elevation: 668 m / area: 798 km^2 / type: None
Balaton - elevation: 104 m / area: 594 km^2 / type: None
Barrage de Mbakaou - elevation: None m / area: None km^2 / type: dam
Bodensee - elevation: 395 m / area: 538 km^2 / type: None
Brienzersee - elevation: 564 m / area: 29 km^2 / type: None
Caspian Sea - elevation: -28 m / area: 386400 km^2 / type: salt
Chad Lake - elevation: 250 m / area: 23000 km^2 / type: salt
Chew Bahir - elevation: 520 m / area: 800 km^2 / type: salt

## Problem set #2: Lakes of a certain type

The following code fetches all lakes of type `salt` and finds their average area and elevation.

Expected output:

    average area: 18880
    average elevation: 970

In [55]:
import requests
data = requests.get('http://localhost:5000/lakes?type=salt').json()
avg_area = sum([x['area'] for x in data if x['area'] is not None]) / len(data)
avg_elev = sum([x['elevation'] for x in data if x['elevation'] is not None]) / len(data)
print("average area:", int(avg_area))
print("average elevation:", int(avg_elev))

average area: 18880
average elevation: 970

## Problem set #3: Lakes in order

The following code fetches lakes in reverse order by their elevation and prints out the name of the first fifteen, excluding lakes with an empty elevation field.

Expected output:

    * Licancabur Crater Lake
    * Nam Co
    * Lago Junin
    * Lake Titicaca
    * Poopo
    * Salar de Uyuni
    * Koli Sarez
    * Lake Irazu
    * Qinghai Lake
    * Segara Anak
    * Lake Tahoe
    * Crater Lake
    * Lake Tana
    * Lake Van
    * Issyk-Kul

In [54]:
import requests
data = requests.get('http://localhost:5000/lakes?sort=elevation').json()
for item in [x['name'] for x in data if x['elevation'] is not None][:15]:
    print("*", item)

* Licancabur Crater Lake
* Nam Co
* Lago Junin
* Lake Titicaca
* Poopo
* Salar de Uyuni
* Koli Sarez
* Lake Irazu
* Qinghai Lake
* Segara Anak
* Lake Tahoe
* Crater Lake
* Lake Tana
* Lake Van
* Issyk-Kul

## Problem set #4: Order and type

The following code prints the names of the largest caldera lakes, ordered in reverse order by area.

Expected output:

    * Lake Nyos
    * Lake Toba
    * Lago Trasimeno
    * Lago di Bolsena
    * Lago di Bracciano
    * Crater Lake
    * Segara Anak
    * Laacher Maar

In [53]:
import requests
data = requests.get('http://localhost:5000/lakes?sort=area&type=caldera').json()
for item in data:
    print("*", item['name'])

* Lake Nyos
* Lake Toba
* Lago Trasimeno
* Lago di Bolsena
* Lago di Bracciano
* Crater Lake
* Segara Anak
* Laacher Maar

## Problem set #5: Error handling

Your API should work fine even when faced with potential error-causing inputs. For example, the expected output for this statement is an empty list (`[]`), *not* every row in the table.

In [73]:
import requests
data = requests.get('http://localhost:5000/lakes', params={'type': "' OR true; --"}).json()
data

[{'area': 1040, 'elevation': 119, 'name': 'Inari', 'type': None},
 {'area': 928, 'elevation': 123, 'name': 'Oulujaervi', 'type': None},
 {'area': 472, 'elevation': None, 'name': 'Kallavesi', 'type': None},
 {'area': 4370, 'elevation': 76, 'name': 'Saimaa', 'type': None},
 {'area': 1118, 'elevation': 78, 'name': 'Paeijaenne', 'type': None},
 {'area': 368, 'elevation': 123, 'name': 'Mjoesa-See', 'type': None},
 {'area': 173, 'elevation': 419, 'name': 'Storuman', 'type': None},
 {'area': 290, 'elevation': 161, 'name': 'Siljan', 'type': 'impact'},
 {'area': 1140, 'elevation': 0, 'name': 'Maelaren', 'type': None},
 {'area': 5648, 'elevation': 44, 'name': 'Vaenern', 'type': None},
 {'area': 1900, 'elevation': 88, 'name': 'Vaettern', 'type': None},
 {'area': 40, 'elevation': None, 'name': 'Arresoe', 'type': None},
 {'area': 56, 'elevation': 16, 'name': 'Loch Ness', 'type': None},
 {'area': 71, 'elevation': 7, 'name': 'Loch Lomond', 'type': None},
 {'area': 538, 'elevation': 395, 'name': 'Bodensee', 'type': None},
 {'area': 80, 'elevation': 518, 'name': 'Chiemsee', 'type': None},
 {'area': 56, 'elevation': 584, 'name': 'Starnberger See', 'type': None},
 {'area': 46, 'elevation': 533, 'name': 'Ammersee', 'type': None},
 {'area': 3, 'elevation': 275, 'name': 'Laacher Maar', 'type': 'caldera'},
 {'area': 581, 'elevation': 372, 'name': 'Lac Leman', 'type': None},
 {'area': 88, 'elevation': 406, 'name': 'Zurichsee', 'type': None},
 {'area': 48, 'elevation': 558, 'name': 'Thunersee', 'type': None},
 {'area': 29, 'elevation': 564, 'name': 'Brienzersee', 'type': None},
 {'area': 113, 'elevation': 434, 'name': 'Vierwaldstattersee', 'type': None},
 {'area': 216, 'elevation': 193, 'name': 'Lago Maggiore', 'type': None},
 {'area': 146, 'elevation': 197, 'name': 'Lago di Como', 'type': None},
 {'area': 370, 'elevation': 65, 'name': 'Lago di Garda', 'type': None},
 {'area': 128, 'elevation': 259, 'name': 'Lago Trasimeno', 'type': 'caldera'},
 {'area': 114, 'elevation': 335, 'name': 'Lago di Bolsena', 'type': 'caldera'},
 {'area': 57,
  'elevation': 164,
  'name': 'Lago di Bracciano',
  'type': 'caldera'},
 {'area': 14, 'elevation': 995, 'name': 'Laguna de Gallocanta', 'type': None},
 {'area': 320, 'elevation': 115, 'name': 'Neusiedlersee', 'type': None},
 {'area': 594, 'elevation': 104, 'name': 'Balaton', 'type': None},
 {'area': 368, 'elevation': 7, 'name': 'Lake Skutari', 'type': None},
 {'area': 273, 'elevation': 849, 'name': 'Lake Prespa', 'type': None},
 {'area': 367, 'elevation': 695, 'name': 'Lake Ohrid', 'type': None},
 {'area': 922, 'elevation': None, 'name': 'Kiev Reservoir', 'type': 'dam'},
 {'area': 2155, 'elevation': 44, 'name': 'Kakhovka Reservoir', 'type': 'dam'},
 {'area': 2252,
  'elevation': 44,
  'name': 'Kremenchuk Reservoir',
  'type': 'dam'},
 {'area': 6450, 'elevation': 53, 'name': 'Kuybyshev Reservoir', 'type': 'dam'},
 {'area': 18400, 'elevation': 4, 'name': 'Ozero Ladoga', 'type': None},
 {'area': 9616, 'elevation': 33, 'name': 'Ozero Onega', 'type': None},
 {'area': 3555, 'elevation': 30, 'name': 'Ozero Pskovskoje', 'type': None},
 {'area': 31492, 'elevation': 455, 'name': 'Ozero Baikal', 'type': None},
 {'area': 4560, 'elevation': 5, 'name': 'Ozero Taimyr', 'type': None},
 {'area': 4400, 'elevation': None, 'name': 'Ozero Chanka', 'type': None},
 {'area': 2500, 'elevation': 10, 'name': 'Ozero Tschany', 'type': None},
 {'area': 41650, 'elevation': -422, 'name': 'Dead Sea', 'type': 'salt'},
 {'area': 165, 'elevation': -212, 'name': 'Lake Genezareth', 'type': None},
 {'area': 3740, 'elevation': 1719, 'name': 'Lake Van', 'type': 'salt'},
 {'area': 675, 'elevation': None, 'name': 'Lake Keban', 'type': None},
 {'area': 5470, 'elevation': 1280, 'name': 'Lake Urmia', 'type': 'salt'},
 {'area': 1800,
  'elevation': 790,
  'name': 'Daryacheh ye Namak',
  'type': 'salt'},
 {'area': 1600,
  'elevation': 500,
  'name': 'Hamun e Jaz Murian',
  'type': 'salt'},
 {'area': 386400, 'elevation': -28, 'name': 'Caspian Sea', 'type': 'salt'},
 {'area': 17160, 'elevation': 31, 'name': 'Ozero Aral', 'type': 'salt'},
 {'area': 18428, 'elevation': 342, 'name': 'Ozero Balchash', 'type': 'salt'},
 {'area': 6236, 'elevation': 1609, 'name': 'Issyk-Kul', 'type': 'salt'},
 {'area': 80, 'elevation': 3250, 'name': 'Koli Sarez', 'type': 'naturaldam'},
 {'area': 5000, 'elevation': 780, 'name': 'Lop Nor', 'type': 'salt'},
 {'area': 911, 'elevation': None, 'name': 'Laguna de Bay', 'type': None},
 {'area': 1103, 'elevation': 905, 'name': 'Lake Toba', 'type': 'caldera'},
 {'area': 11, 'elevation': 2008, 'name': 'Segara Anak', 'type': 'caldera'},
 {'area': 4583, 'elevation': 3195, 'name': 'Qinghai Lake', 'type': 'salt'},
 {'area': 1855, 'elevation': 4718, 'name': 'Nam Co', 'type': 'salt'},
 {'area': 5250, 'elevation': 183, 'name': 'Lake Nasser', 'type': 'dam'},
 {'area': 8502, 'elevation': None, 'name': 'Lake Volta', 'type': 'dam'},
 {'area': 49, 'elevation': 107, 'name': 'Lake Bosumtwi', 'type': 'impact'},
 {'area': 1243, 'elevation': None, 'name': 'Lake Kainji', 'type': 'dam'},
 {'area': 23000, 'elevation': 250, 'name': 'Chad Lake', 'type': 'salt'},
 {'area': None,
  'elevation': None,
  'name': 'Barrage de Mbakaou',
  'type': 'dam'},
 {'area': None, 'elevation': None, 'name': 'Lake Nyos', 'type': 'caldera'},
 {'area': 54, 'elevation': -155, 'name': 'Lac Assal', 'type': 'salt'},
 {'area': 320, 'elevation': 243, 'name': 'Lake Abbe', 'type': 'salt'},
 {'area': 1285, 'elevation': 619, 'name': 'Lake Abaya', 'type': 'salt'},
 {'area': 800, 'elevation': 520, 'name': 'Chew Bahir', 'type': 'salt'},
 {'area': 6405, 'elevation': 375, 'name': 'Lake Turkana', 'type': 'salt'},
 {'area': 3000, 'elevation': 1830, 'name': 'Lake Tana', 'type': None},
 {'area': 5347,
  'elevation': 619,
  'name': 'Lake Sese Seko/Albertsee',
  'type': None},
 {'area': 2325, 'elevation': 920, 'name': 'Rutanzige/Eduardsee', 'type': None},
 {'area': 1720, 'elevation': 914, 'name': 'Lake Kioga', 'type': None},
 {'area': 68870, 'elevation': 1134, 'name': 'Lake Victoria', 'type': None},
 {'area': 2650, 'elevation': 1462, 'name': 'Lake Kivu', 'type': None},
 {'area': 32893, 'elevation': 782, 'name': 'Lake Tanganjika', 'type': None},
 {'area': 5120, 'elevation': 931, 'name': 'Lake Mweru', 'type': None},
 {'area': 10000, 'elevation': 1140, 'name': 'Lake Bangweulu', 'type': None},
 {'area': 5760, 'elevation': 800, 'name': 'Lake Rukwa', 'type': 'salt'},
 {'area': 1050, 'elevation': 1030, 'name': 'Lake Eyasi', 'type': 'salt'},
 {'area': 1040, 'elevation': 600, 'name': 'Lake Natron', 'type': 'salt'},
 {'area': 29600, 'elevation': 474, 'name': 'Lake Malawi', 'type': None},
 {'area': 687, 'elevation': 474, 'name': 'Lake Chilwa', 'type': 'salt'},
 {'area': 8200, 'elevation': 300, 'name': 'Lake Mai Ndombe', 'type': None},
 {'area': 500, 'elevation': 272, 'name': 'Malebo Pool', 'type': None},
 {'area': 2800, 'elevation': 326, 'name': 'Lake Cabora-Bassa', 'type': 'dam'},
 {'area': 5580, 'elevation': None, 'name': 'Lake Kariba', 'type': 'dam'},
 {'area': 770, 'elevation': None, 'name': 'Lake Ngami', 'type': 'salt'},
 {'area': 6133, 'elevation': 1000, 'name': 'Etoscha Salt Pan', 'type': 'salt'},
 {'area': 12000,
  'elevation': None,
  'name': 'Makarikari Salt Pan',
  'type': 'salt'},
 {'area': 31792, 'elevation': 156, 'name': 'Great Bear Lake', 'type': None},
 {'area': 28568, 'elevation': 156, 'name': 'Great Slave Lake', 'type': None},
 {'area': 798, 'elevation': 668, 'name': 'Atlin Lake', 'type': None},
 {'area': 24420, 'elevation': 218, 'name': 'Lake Winnipeg', 'type': None},
 {'area': 4848, 'elevation': 260, 'name': 'Lake Nipigon', 'type': None},
 {'area': 1942,
  'elevation': 350,
  'name': 'Lake Manicouagan',
  'type': 'impact'},
 {'area': 18960, 'elevation': 75, 'name': 'Lake Ontario', 'type': None},
 {'area': 25745, 'elevation': 174, 'name': 'Lake Erie', 'type': None},
 {'area': 59600, 'elevation': 176, 'name': 'Lake Huron', 'type': None},
 {'area': 104, 'elevation': None, 'name': 'Lake Manitou', 'type': None},
 {'area': 57800, 'elevation': 176, 'name': 'Lake Michigan', 'type': None},
 {'area': 82103, 'elevation': 184, 'name': 'Lake Superior', 'type': None},
 {'area': 1130, 'elevation': 30, 'name': 'Lake Champlain', 'type': None},
 {'area': 186, 'elevation': 153, 'name': 'Lake Winnipesaukee', 'type': None},
 {'area': 1890, 'elevation': None, 'name': 'Lake Okeechobee', 'type': None},
 {'area': 648, 'elevation': None, 'name': 'Kentucky Lake', 'type': None},
 {'area': 147, 'elevation': None, 'name': 'Chickamauga Lake', 'type': None},
 {'area': 337,
  'elevation': None,
  'name': 'Franklin. D. Roosevelt Lake',
  'type': 'dam'},
 {'area': 53, 'elevation': 1883, 'name': 'Crater Lake', 'type': 'caldera'},
 {'area': 4400, 'elevation': 1279, 'name': 'Great Salt Lake', 'type': 'salt'},
 {'area': 497, 'elevation': 1900, 'name': 'Lake Tahoe', 'type': None},
 {'area': 487, 'elevation': 1155, 'name': 'Pyramid Lake', 'type': 'salt'},
 {'area': 645, 'elevation': 1127, 'name': 'Lake Powell', 'type': 'dam'},
 {'area': 640, 'elevation': 372, 'name': 'Lake Mead', 'type': 'dam'},
 {'area': 981, 'elevation': None, 'name': 'Fort Peck Lake', 'type': 'dam'},
 {'area': 1578, 'elevation': None, 'name': 'Lake Sakakawea', 'type': 'dam'},
 {'area': 1453, 'elevation': None, 'name': 'Lake Oahe', 'type': 'dam'},
 {'area': 1685, 'elevation': 1520, 'name': 'Lago de Chapala', 'type': None},
 {'area': 8157, 'elevation': 31, 'name': 'Lake Nicaragua', 'type': None},
 {'area': 1035, 'elevation': 39, 'name': 'Lake Managua', 'type': None},
 {'area': 1, 'elevation': 3200, 'name': 'Lake Irazu', 'type': 'acid'},
 {'area': 0,
  'elevation': None,
  'name': 'La Brea Pitch Lake',
  'type': 'asphalt'},
 {'area': 13000, 'elevation': 0, 'name': 'Lake Maracaibo', 'type': None},
 {'area': 4214,
  'elevation': None,
  'name': 'Lago de Sobradinho',
  'type': 'dam'},
 {'area': 175, 'elevation': 4082, 'name': 'Lago Junin', 'type': None},
 {'area': 8372, 'elevation': 3812, 'name': 'Lake Titicaca', 'type': None},
 {'area': 1340, 'elevation': 3686, 'name': 'Poopo', 'type': 'salt'},
 {'area': 10582, 'elevation': 3650, 'name': 'Salar de Uyuni', 'type': 'salt'},
 {'area': 0,
  'elevation': 5600,
  'name': 'Licancabur Crater Lake',
  'type': 'crater'},
 {'area': 5770,
  'elevation': 71,
  'name': 'Laguna Mar Chiquita',
  'type': 'salt'},
 {'area': 9500, 'elevation': -17, 'name': 'Lake Eyre', 'type': 'salt'},
 {'area': 6, 'elevation': 556, 'name': 'Lake Burley Griffin', 'type': 'dam'},
 {'area': 145, 'elevation': 1200, 'name': 'Lake Eucumbene', 'type': 'dam'},
 {'area': 30, 'elevation': 915, 'name': 'Lake Jindabyne', 'type': 'dam'},
 {'area': 202, 'elevation': None, 'name': 'Lake Hume', 'type': None}]

Specifying a field other than `name`, `area` or `elevation` for the `sort` parameter should fail silently, defaulting to sorting alphabetically. Expected output: `['Ammersee', 'Arresoe', 'Atlin Lake', 'Balaton', 'Barrage de Mbakaou']
`

In [74]:
import requests
data = requests.get('http://localhost:5000/lakes', params={'sort': "florb"}).json()
[x['name'] for x in data[:5]]

['Ammersee', 'Arresoe', 'Atlin Lake', 'Balaton', 'Barrage de Mbakaou']

## Paste your code

Please paste the code for your entire Flask application in the cell below, in case we want to take a look when grading or debugging your assignment.

In [ ]:
# It does not work for part one in problem#5
from flask import Flask, request, jsonify
import pg8000
import decimal

app = Flask(__name__)
conn = pg8000.connect(database="mondial", user="olayaargueso")
conn.rollback()
@app.route("/lakes")
def get_lakes():
    lake_info = None
    cursor = conn.cursor()
    sorted_lakes = request.args.get('sort', None)
    if sorted_lakes in ['name', 'elevation', 'area', 'type']:
        pass
    else:
        sorted_lakes = 'name'
    lakes_type = request.args.get('type', None)
    if lakes_type:
        cursor.execute("SELECT name, area, elevation, type FROM lake WHERE type=%s", [lakes_type])
        if sorted_lakes:
            cursor.execute("SELECT name, area, elevation, type FROM lake WHERE type='{type}' ORDER BY {sort}".format(sort=sorted_lakes, type=lakes_type))
            if (sorted_lakes == 'elevation') or (sorted_lakes == 'area'):
                cursor.execute("SELECT name, area, elevation, type FROM lake WHERE type='{type}' ORDER BY {sort} DESC".format(sort=sorted_lakes, type=lakes_type))
    elif sorted_lakes:
        cursor.execute("SELECT name, area, elevation, type FROM lake ORDER BY {}".format(sorted_lakes))
        if (sorted_lakes == 'elevation') or (sorted_lakes == 'area'):
            cursor.execute("SELECT name, area, elevation, type FROM lake ORDER BY {} DESC".format(sorted_lakes))
        if sorted_lakes not in ['name', 'elevation', 'area', 'type']:
            cursor.execute("SELECT name, area, elevation, type FROM lake ORDER BY name")
    else:
        cursor.execute("SELECT name, area, elevation, type FROM lake ORDER BY name")
    lake_info = []
    def decimal_to_int(x):
        if isinstance(x, decimal.Decimal):
            return int(x)
        else:
            return None
    for item in cursor.fetchall():
        lake_info.append({'name': item[0], 'area': decimal_to_int(item[1]), 'elevation': decimal_to_int(item[2]), 'type': item[3]})

    return jsonify(lake_info)

app.run(debug=True)